body {
  background: #ffeedd;
}

.post-card {
  background-color: grey;
  border-radius: 10px;
  margin: 20px;
  color: white;
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.post-card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
}

.post-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  width: 100%;
}

.post-author,
.post-content {
  margin: 0px 0px;
  border-radius: inherit;
  border-top-right-radius: 0px;
  border-right: none;
}

.post-author {
  float: left;
  background: white;
  color: black;
  flex: 10%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.post-author p {
  text-align: center;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: dimgrey;
  font-size: 14px;
}

.post-content {
  float: right;
  background: rgb(168, 164, 164);
  color: black;
  flex: 80%;
  padding: 10px;
  font-size: 12px;
  border-radius: inherit;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.content-heading {
  font-weight: bold;
  color: dimgrey;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.content-heading .heading {
  text-align: justify;
  font-weight: bolder;
  flex: 97%;
}

.content-heading .heading-font {
  text-align: right;
  flex: 3%;
}

.content-text {
  display: block;
  margin-left: 0px;
  text-align: justify;
  position: relative;
}

i:hover {
  cursor: pointer;
}

#confirmer-modal .modal-content {
  width: 30%;
  border: none;
}

.confirmer-action {
  display: inline;
}

#confirmer-modal .btn {
  width: 100px;
  border-radius: 0px;
  border: none;
}

#confirmer-modal .left-btn {
  float: left;
}

#confirmer-modal .right-btn {
  float: right;
}

#confirmer-modal .model-heading {
  border: none;
}

@media only screen and (max-width: 1300px) {
  .post-card {
    width: 450px;
    height: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .post-card {
    width: 300px;
    height: 320px;
  }
}

@media only screen and (max-width: 800px) {
  .post-card {
    width: 200px;
    height: 420px;
  }
}

@media only screen and (max-width: 670px) {
  .post-card {
    width: 180px;
    height: 520px;
  }
}

@media only screen and (max-width: 500px) {
  .post-card {
    width: 130px;
    height: 520px;
  }
}