body {
  background-color: #ffeedd;
}

#title{
  font-family: 'Montez', cursive;
  color: blue;
  font-size: -webkit-xxx-large;
  margin-left: 10px;
}

#subheading{
  font-family: 'Ubuntu Mono', monospace;
  font-size: large;
  margin-left: 10px;
}

.buttons-container{
  display: block;
  float: right;
  padding-top: 30px;
  padding-right: 10px;
}

.logos-container{
  display: block;
  float: left;
  padding-top: 13px;
}

.logos{
  margin: 0px;
}
.btn-primary{
  background-color:blue;
  border-color: black;
  padding: 15px;
  margin:10px;
}
#allposts {
  background-color: yellow;
  padding: 5px;
  margin: 5px;
}
#createposts{
  background-color: yellow;
  padding: 5px;
  margin: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.fas fa-times {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fas fa-times:hover,
.fas fa-times:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ModalHeader{
  align-content: center;
  font-size: larger;
}

/*.signupmodal{*/
/*  height: 100%;*/
/*  display:flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
.postbuttons
{
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  justify-content: center;
  display: table;
}

.submitSignupins{
  background-color: green;
  font-size: x-large;
}


.signforms{
  justify-content: right;
  flex-direction: column;
  align-content: center;
  align-items: normal;
  display: flex;
}

.labels{
  font-size: larger;
}

#redirect2signup{
  text-align: center;
}

.newpostform{
  justify-content: right;
  flex-direction: column;
  align-content: center;
  align-items: normal;
  display: flex;
}

